* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 2%;
}

.h-border {
    border-left: 10px outset #5F9EA0;
    border-bottom: 2px dashed #5F9EA0;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

@media (max-width: 768px) {
    .form-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.form-grid-contraseña {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

@media (max-width: 991px) {
    .form-grid-contraseña {
        display: grid;
        grid-template-columns: 1fr;
    }
}

#f-cambiar-contraseña {
    display: none;
}